<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= page.title %></title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <header class="neumorphism">
    <nav>
      <ul>
        <% for(var i in theme.menu){ %>
        <li><a href="<%= theme.menu[i] %>"><%= i %></a></li>
        <% } %>
      </ul>
    </nav>
  </header>
  <main>
    <%= page.content %>
  </main>
  <footer>
    &copy; <%= config.author %> <%= date(new Date(), 'YYYY') %>
  </footer>
</body>
</html>